@import './modules/todo.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(120deg, #f6d365, #fda085);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 min(20px, 4vw);
  width: clamp(100%, 100%, 1400px);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
